## Ignore Modelica temporary files, build results, and
## files generated popular Dymola, OpenModelica

# User-specific files
dsin.txt
dsfinal.txt
dslog.txt
buildlog.txt
*.exe
*.lib
*.exp
*.mat
*.c
*.h

# Build results

[Bb]in/
[Oo]bj/

